<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Habitat operator demo</title>
  </head>
  <body>
    <h1>Hello from Habitat!</h1>
    <h3>View count:</h3>
    {{ count }}
    <div>
      <form action="/reset" method="post">
        <input type="submit" value="reset">
      </form>
    </div>
  </body>
</html>
